:root {
  --clr-dark: #32330B;
  --clr-light: #cac6e0;
  --clr-panel-left: var(--clr-light);
  --clr-panel-right: var(--clr-light);
  --clr-accent: var(--clr-dark);
  --clr-accent-soft: var(--clr-dark);
  --clr-surface: var(--clr-light);
  --clr-surface-2: var(--clr-light);
  --clr-ink-soft: var(--clr-dark);
}