body {
  font-family: var(--mono), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--apple-garamond), serif;
  font-weight: normal;
  line-height: 95%;
  margin: 0;
}

h1 {
  font-size: clamp(2.8rem, 4.2vw, 4.6rem);
  letter-spacing: -0.02em;
}

h2 {
  font-size: clamp(2.2rem, 3.2vw, 3.5rem);
  letter-spacing: -0.02em;
}

p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}